* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 2em;
  background-color: #f5f3f3;
}

.hero {
  height: 10em;
  background-color: white;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em 0 1em 0;
  background-color: #f5f3f3;
}

.gallery-item {
  position: relative;
  width: 80%;
  margin: 1em 0 0 0;
}

.gallery-item img {
  width: 100%;
  /* transition: transform 1.5s; */
}

.gallery-item img:hover {
  cursor: pointer;
  /* transform: scale(1.05); */
}

.item-description {
  position: absolute;
  z-index: 1001;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 3em;
  background-color: rgba(245, 243, 243, 0.5);
}

.item-description p {
  font-size: 0.8em;
}

.hide {
  display: none;
}

.shopping-cart {
  position: absolute;
  z-index: 1002;
  top: 15px;
  right: 15px;
  transition: transform 0.5s, color 0.5s;
}

.shopping-cart:hover {
  cursor: pointer;
  transform: scale(1.5);
  color: red;
}

.fa-cart-plus {
  font-size: 1.2em;
}

@keyframes wiggle {
  10%, 90% {
    transform: translate3d(-0.5px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}

.cart-animate {
  animation: wiggle 1s cubic-bezier(.36,.07,.19,.97) infinite;
  transform: translate3d(0, 0, 0);
}

footer {
  height: 5em;
}